<!DOCTYPE html>
<html>
<head>
    <title>Normal Space</title>
</head>
<body>
    <h2>Time passed since 1939 in quantum space:</h2>
    <h3><%= years %> years, <%= months %> months, <%= days %> days</h3>
</body>
</html>
