img {
    height: auto;
    width: 100px;
}

.gauntlet:hover ~ table tbody tr:nth-child(even) td:nth-child(2n-1),
.gauntlet:hover ~ table tbody tr:nth-child(odd) td:nth-child(2n) {
    visibility: hidden;
}
