h1 {
    text-align: center;
}

.container {
    display: flex;
}

button {
    background-color: rgba(143, 143, 143, 0.959);
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    border-color: rgba(71, 71, 71, 0.055);
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

button:hover {
    color: red;
}

input:hover {
    color: red;
}

input:focus {
    color: green;
}
