h1 {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span {
    color: white;
    text-align: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0 -7px 0 0;
    margin-right: 2px;
    margin-top: 2px;
    display:inline-block;
    background-color: black;
    border-radius: 18px;
}

nav a {
    display:block;
    padding:0 20px;
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
}

a {
    text-align: center;
}

nav ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display:inherit;
}

.ard {
    padding-left: 100%;
    margin-top: -25%;
}

nav ul ul li {
    min-width:175px;
    float:none;
    display:list-item;
    position: relative;
}
