.container {
    display: flex;
}

button {
    color: green;
    height: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    border-color: blue;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;
}

button:hover {
    color: red;
}

input:hover {
    color: red;
}

input:focus {
    color: green;
}
